ul{
	list-style-type: none;
}

ul ul {
	display: none;
}

#list ul li a{
	color: grey;
}

ul li:hover > ul {
		display: block;
	}

a, a:visited {
    text-decoration:none;
    color:black;
}

a:hover{
	text-decoration: underline;
}
